@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #3767ad;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh-16px);
  font-family: "Roboto", sans-serif;
  margin: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
}

.water-glass {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__counter {
    position: absolute;
    top: 90px;
    // // left: 108px;
    font-style: normal;
    color: #000;
    font-weight: 500;
    font-size: 112px;
    line-height: 131px;
  }
  &__info-icon {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 115px;
    // left: 60px;
    margin: 0 auto;
  }
  &__info-text {
    z-index: 1000;
    padding: 30px 20px;
    position: absolute;
    top: 120px;
    left: 700px;
    // width: 500px;
    // height: 100px;
    border: 2px solid #fff;
    background: #2196f3;
    opacity: 0.9;
    border-radius: 10px;
  }
}

.info-closed {
  display: none;
}

.button__add {
  // position: absolute;
  width: 216px;
  height: 47px;
  // left: 79px;
  // top: 531px;
  font-size: 18px;
  line-height: 21px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 48px;
}

.button__remove {
  margin-top: 37px;
}

.button__remove:hover {
  text-decoration: underline solid #fff;
}
